# This is a basic workflow to help you get started with Actions

name: Build and Push to Registry

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  schedule:
    - cron: 0 2 * * 2,6
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-versions:
    permissions:
      contents: read
      packages: write
      pull-requests: write
      actions: write
      id-token: write
      attestations: write
    strategy:
      max-parallel: 4
      matrix:
        variant:
          - cli
          - zts
          - cli-alpine
          - zts-alpine
          - fpm
          - fpm-alpine
          - apache
        version:
          - '8.4'
          - '8.3'
          - '8.2'
          - '8.1'
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      version: ${{ matrix.version }}
      variant: ${{ matrix.variant }}
      latest: '8.4'